<% provide(:title, "Home") %>

<h1>Welcome to Point Club</h1>

<%= link_to "Click Here To Go To All Users", users_path %>
</br>
</br>
<%= link_to "Click Here To Go To Everyone's Points", points_path %>
</br>
</br>
</br>
New User? <%= link_to "Sign Up Now!", new_user_path %>